<?xml version="1.0" encoding="utf-8"?>

app/platforms/ios/AppName/config.xml
app/platforms/blackberry10/www/config.xml
app/platforms/android/res/xml/config.xml

<widget id="com.example.hello" version="0.0.1">
  <name>HelloWorld</name>
  <description>
    A sample Apache Cordova application that responds to the deviceready event.
  </description>
  <author email="dev@callback.apache.org" href="http://cordova.io">
    Apache Cordova Team
  </author>
  <content src="index.html" />
  <access origin="*" />
</widget>
<preference name="Fullscreen" value="true" />
<preference name="Orientation" value="landscape" />
<preference name="DisallowOverscroll" value="true"/>
<preference name="BackgroundColor" value="0xff0000ff"/>
<feature name="Device">
  <param name="android-package" value="org.apache.cordova.device.Device" />
</feature>
<feature name="Device">
  <param name="ios-package" value="CDVDevice" />
</feature>